<footer class="site-footer small--text-center" role="contentinfo">

  <div class="wrapper">

    <div class="grid">

      <div class="grid__item text-center">
        {% include 'site-nav' %}
      </div>

    </div>

    <div class="grid">

      <div class="grid__item large--one-quarter text-right">
      </div>
      <div class="grid__item large--one-quarter text-right">
        <img src="{{ 'nomad_logo.png' | asset_url }}" />
      </div>
      <div class="grid__item large--one-third text-left">
        <p class="footer-text">Sign up for the Nomad Mailing List</p>
        {% include 'newsletter-form' %}
        {% comment %}
          Loop through the social network links
        {% endcomment %}
        <ul class="inline-list social-icons">
          {% if settings.social_twitter_link != blank %}
            <li>
              <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter" target="_blank">
                <span class="icon icon-twitter" aria-hidden="true"></span>
                <span class="fallback-text">Twitter</span>
              </a>
            </li>
          {% endif %}
          {% if settings.social_facebook_link != blank %}
            <li>
              <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook" target="_blank">
                <span class="icon icon-facebook" aria-hidden="true"></span>
                <span class="fallback-text">Facebook</span>
              </a>
            </li>
          {% endif %}
          <li>
            <a class="icon-fallback-text" href="https://www.pinterest.com/thenomadtruck/" title="{{ shop.name }} on Pinterest" target="_blank">
              <span class="icon icon-pinterest" aria-hidden="true"></span>
              <span class="fallback-text">Pinterest</span>
            </a>
          </li>
          <li>
            <a class="icon-fallback-text" href="http://instagram.com/thenomadtruck" title="{{ shop.name }} on Instagram" target="_blank">
              <span class="icon icon-instagram" aria-hidden="true"></span>
              <span class="fallback-text">Instagram</span>
            </a>
          </li>
          <li>
            <a class="icon-fallback-text" href="http://vimeo.com/user33742253" title="{{ shop.name }} on Vimeo" target="_blank">
              <span class="icon icon-vimeo" aria-hidden="true"></span>
              <span class="fallback-text">Vimeo</span>
            </a>
          </li>
        </ul>
        <p class="footer-text">Copyright &#169; 2014 Nomad. All rights reserved.<br/>Site by <a href="http://meshfresh.com" class="mesh">MESH.</a></p>
      </div>

    </div>

  </div>

</footer>
